#footer{
    width: 100%;
    height: 313px;
    background-color: whitesmoke;
}
#footer h2{
    color:rgb(37, 36, 36);
    text-transform:capitalize;
    font-weight: 900;
    padding: 2vw 8vw;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contexts{
    height: 200px;
   display: flex;
   justify-content: space-evenly;
   /* background-color: brown; */
}
.context h1{
  font-size: 30px;
  font-weight: 400;
}
.context h3{
    padding-top: 8px;
    font-size: 20px;
    font-weight: 300;
    /* background-color: blanchedalmond; */
}
.context a{
    font-size: 30px;
    color: black;
}